body {
    background-color: #fff1de;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    padding: 0;
    margin: 0;
}

header {
    background-color: #ffd9a3;
    display: block;
    position: fixed;
    width: 100%;
    z-index: 1000;
    padding: 1vh 2vw;
    text-align: center;
    box-shadow: -1px 4px 8px 0px rgba(64, 64, 64, 0.75);
    -webkit-box-shadow: -1px 4px 8px 0px rgba(64, 64, 64, 0.75);
    -moz-box-shadow: -1px 4px 8px 0px rgba(64, 64, 64, 0.75);
}

header a {
    color: #000;
    text-decoration: none;
    font-size: 1.25em;
    margin-right: 2.5vw;
}

h1 {
    text-align: center;
    margin-bottom: 1em;
}

main {
    padding: 3em 10vw;
}

img {
    float: right;
    width: 40vw;
}

#iframe-div {
    margin-top: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
}

iframe {
    width: 50%;
    height: 28.125vw;
}

*::selection {
    background-color: #ffd9a3;
}

@media (max-width: 1024px) {
    header > a {
        margin-right: 5vw;
    }
    iframe {
        width: 100%;
        height: 56.25vw;
    }
}

@media (max-width: 900px) {
    img {
        float: none;
        width: 100%;
    }
}
